.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: blueviolet;
}

h3 {
  color: ghostwhite;
  text-emphasis-style: none;
}

a {
  text-decoration: none;
}