.resume {

}

.AlexG {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.underline {
    width: 100%;
    height: 0px;
    border: 2px solid rgb(48, 149, 169);
}

.resumeText {
    font-family: Arial, Helvetica, sans-serif;
}